* text=auto
*.asmdef text eol=lf
*.sh text eol=lf
*.asset text eol=lf
*.anim eol=lf
MainTerrain.asset binary
*.controller eol=lf
*.mat eol=lf
*.meta eol=lf
*.physicsMaterial eol=lf
*.physicsMaterial2D eol=lf
*.prefab eol=lf
*.unity eol=lf