* text=auto
*.asmdef text eol=lf
*.sh text eol=lf
*.anim merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
MainTerrain.asset binary
*.controller merge=unityyamlmerge eol=lf
*.mat merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.physicsMaterial merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf